/*粉红色的样式*/
#body{
  background: radial-gradient(200% 100% at bottom center, #f7f7b6, #e96f92, #75517d, #1b2947);
  background: radial-gradient(220% 105% at top center, #1b2947 10%, #75517d 40%, #e96f92 65%, #f7f7b6);
  background-attachment: fixed;
}

@keyframes rotate {
  0% {
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(0);
  }
  100% {
    transform: perspective(400px) rotateZ(20deg) rotateX(-40deg) rotateY(-360deg);
  }
}

.stars {
  transform: perspective(500px);
  transform-style: preserve-3d;
  position: fixed;
  bottom: 0;
  perspective-origin: 50% 100%;
  left: 50%;
  animation: rotate 90s infinite linear;
}

.star {
  width: 2px;
  height: 2px;
  background: #F7F7B6;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: 0 0 -300px;
  transform: translate3d(0, 0, -300px);
  backface-visibility: hidden;
}

/* 鎴戞槸涓�鏉＄嚎 */
.xian {
  border: 0.5px dashed #bebebe;
  margin: 3% 0;
}

#main {
  background: rgb(255, 255, 255);
  margin: 10% 0;
  padding: 0;
  border: 1px solid #bebebe;
}
#return_main {
  margin: 0px;
  border-bottom: 1px solid #bebebe;
}
#return_main div {
  text-align: center;
  margin: 10px;
  font-size: 13px;
  width: 50px;
  border: 1px #d0d0d0 solid;
  padding: 2px;
}
/* 鐢ㄦ埛鍖� */
#user {
  padding: 2%;

  width: 25%;
  text-align: center;
  display: inline-block;
  margin: 0px;
  background-image: linear-gradient(#dfffdf, rgb(255, 255, 255));
}
#portrait {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
#name {
  font-size: 14px;
  color: #555;
}
#personality {
  margin: 0 4%;
  font-size: 14px;
  color: #555;
}

/* 鏂囩珷鍖� */
#invittation {
  position: relative;
  right: 0.5%;
  width: 73%;
  padding: 2%;
  vertical-align: top;
  display: inline-block;
  border-left: 1px #d0d0d0 solid;
}
#time_fa span {
  background-color: #57baf9;
  color: #ffffff;
  padding: 3px;
  width: 40px;
  height: 22px;
  font-size: 12px;
}
#time {
  display: inline-block;
  color: #8e8e8e;
  font-size: 14px;
}

.good_fa {
  text-align: center;
  margin: 10%;
  background-color: #f0f0f0;
}

#good {
  vertical-align: top;
  font-size: 20px;
  display: inline-block;
}

/*评论区的样式*/
.content-name{
  display: inline-block;
  margin: 1% 2%;
}

.content-p{
  margin: 0 2%;
}

.delete{
  float:right;
  margin: 0 4%;
}

#content-main{
  margin: 2%;
}

#slotCoin{
  top: 20px;
  right: -20px;
  position: absolute;
}
.publish{
  position: static;
}


/**/
#content-text{
  width: 50%;
  margin: 1% 0;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
#content-text + button{
  position: absolute;
  right: 10%;
}

#addCoin{
  display: inline-block;
  vertical-align: top;
  z-index:10;
}
/*收藏按钮*/
#collection{
  position: absolute;
  top: 3%;
  right: 2%;
}

#collection p{
  display: inline-block;
}