body {
  text-align: center;
  background-image: url("/static/picture/4.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  z-index: -1;
  transition: unset;
}

#form{
  position: relative;
  width: 400px;
  height: 250px;
}

.denglu {
  margin: 10% 5%;
  display: inline-block;
  width: 400px;
  height: 225px;
  /* border: 1px solid rgb(12, 210, 224); */
}
.field {
  /*margin: 20px;*/
  padding: 6% 0 0 0;
}
.tou {
  position: absolute;
  width: 400px;
  height: 250px;
  z-index: -1;
  background-color: rgb(255, 255, 255);
  filter: alpha(opacity=40);
  -moz-opacity: 0.4;
  -khtml-opacity: 0.4;
  opacity: 0.4;
}
.wa {
  font-size: 15px;
  color: red;
  position: relative;
  bottom: 59%;
  left: 10px;
}
.dis {
  display: none;
}
.form_0 {
  width: 40px;
  height: 20px;
  font-size: 15px;
  color: #bebebe;
  position: relative;
  bottom: 26px;
  left: 45%;
}