.main{
    margin: 2% 0;
}

.data-top{
    height: 150px;
    background-color: #686868;
}

.data-main div{
    display: inline-block;
    margin: 0 0 0 6%;
}

.data-img{
    width: 160px;
    height: 160px;
    border: 4px snow solid;
    position:relative;
    bottom:60px;
    left: 40px;
    border-radius: 15px;
    display: inline-block;
}

.exhibition-group div{
    margin: 0 4% 0 0;
}
