<!--
  ~ /*
  ~  * 盛建辉：毕设
  ~  *
  ~  * 版权归本公司所有，不得私自使用、拷贝、修改、删除，否则视为侵权
  ~  */
  -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>写随想</title>
    <link rel="stylesheet" th:href="@{/static/bootstrap-4.4.1-dist/css/bootstrap.css}"/>
    <script th:src="@{/static/js/jquery-3.5.0.min.js}" defer></script>
    <script th:src="@{/static/bootstrap-4.4.1-dist/js/bootstrap.js}" defer></script>
    <script th:src="@{/static/js/newborn.js}" defer></script>
    <link rel="stylesheet" th:href="@{/static/css/uploads.css}"/>
    <script th:src="@{/static/js/addWhimsy.js}" defer></script>
</head>
<body>
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">随想计划</h1>
        <button type="button" class="btn btn-primary" id="addWhimsy" onclick="addWhimsy()">发表</button>
        <div id="dataWhimsy">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">标题</span>
                </div>
                <input type="text" id="title" autocomplete="off" class="form-control" placeholder="标题" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text">简介</span>
                </div>
                <input  id="subtitle" type="text" autocomplete="off" class="form-control" placeholder="简介" aria-label="Username" aria-describedby="addon-wrapping">
            </div>
            <div class="form-group" id="text">
                <textarea class="form-control" autocomplete="off" id="route" placeholder="内容" rows="3"></textarea>
            </div>
            <div class="input-file-box">
                <span>点击上传图片</span>
                <input type="file" id="uploadFile" multiple accept="image/*">
            </div>
            <div id="img-box"></div>
        </div>
    </div>
</div>
</body>
</html>