<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>个人中心</title>
    <link
      rel="stylesheet"
      th:href="@{/static/bootstrap-4.4.1-dist/css/bootstrap.css}"
    />
    <script th:src="@{/static/js/jquery-3.5.0.min.js}" defer></script>
    <script th:src="@{/static/bootstrap-4.4.1-dist/js/bootstrap.js}" defer></script>
    <script th:src="@{/static/js/newborn.js}" defer></script>
    <script th:src="@{/static/js/article.js}" defer></script>
    <link rel="stylesheet" th:href="@{/static/css/article.css}" />
  </head>
  <body id="body">
    <div class="stars"></div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
      <input type="hidden" id="hidden" th:abbr="${submit}">
      <a class="navbar-brand" href="#" id="state"></a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/blog/homepage/index">首页<span class="sr-only">(current)</span></a
            >
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/blog/personal/index">个人中心</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/blog/personal/invitation">发帖</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/blog/whimsy/index">随想计划</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/blog/uploads/index">我的文件</a>
          </li>

          <li class="nav-item dropdown">
            <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
              其他
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/blog/collection/index">收藏</a>
              <a class="dropdown-item" href="/blog/message/index">留言板</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" id="state_enroll" href="/blog/homepage/out">退出登录</a>
            </div>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/blog/homepage/index">
          <input
                  class="form-control mr-sm-2"
                  name="search"
                  type="search"
                  placeholder="查找帖子"
                  aria-label="查找帖子"/>
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            搜索
          </button>
        </form>
      </div>
    </nav>

    <div>
      <div class="container">
        <div class="row">
          <div class="col-md-12" id="main">
            <div id="return_main">
              <div>返回</div>
            </div>

            <div id="user" th:abbr="${invitation.account}">
              <img th:src="@{/static/picture/{account}.jpg(account=${invitation.account})}" id="portrait" onclick="visitThis(this)" />
              <p id="name" th:text="${invitation.name}"></p>
              <p id="personality" th:text="${invitation.subtitle}"></p>
            </div>

            <div id="invittation">
              <h3 id="number" th:abbr="${invitation.number}" th:text="${invitation.title}"></h3>
              <div class="xian"></div>
              <div id="time_fa">
                <span>楼主</span>
                <p th:text="${invitation.time}"></p>
              </div>
              <p th:text="${invitation.text}"></p>
              <div class="good_fa">
                <svg class="bi bi-heart-fill" width="5em"
                  height="2em"
                  viewBox="0 0 20 20"
                  fill="red"
                  xmlns="http://www.w3.org/2000/svg"
                  id="good_img">
                  <path fill-rule="evenodd"
                    d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314z"
                    clip-rule="evenodd"/></svg>
                <p id="good"><b>8</b> 人赞同</p>
              </div>
            </div>

            <div id="content-main">
              <ul class="list-unstyled">
                <li class="media" th:each="content:${content}" th:id="${content.id}" th:abbr="${content.account}" >
                  <img th:src="@{/static/picture/{account}.jpg(account=${content.account})}" class="mr-3" width="10%" onclick="visitThis(this)"                                  >
                  <div class="media-body">
                    <h5 class="content-name" th:text="${content.name}"></h5>
                    <b th:text="${content.startTime}" id="contentStartTime"></b>
                    <p class="content-p" th:text="${content.content}"></p>
                    <button type="button" class="btn btn-light delete" onclick="deleteContent(this)">删除</button>
                  </div>
                </li>
              </ul>

              <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="发表你的评论" aria-label="发表你的评论" aria-describedby="button-addon2" id="content-text" autocomplete="off">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" id="button-addon2" th:id="${user.account}" onclick="addContent(this)">发表</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
