<!--
  ~ /*
  ~  * 盛建辉：毕设
  ~  *
  ~  * 版权归本公司所有，不得私自使用、拷贝、修改、删除，否则视为侵权
  ~  */
  -->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>查看随想</title>
    <link rel="stylesheet" th:href="@{/static/bootstrap-4.4.1-dist/css/bootstrap.css}"/>
    <script th:src="@{/static/js/jquery-3.5.0.min.js}" defer></script>
    <script th:src="@{/static/bootstrap-4.4.1-dist/js/bootstrap.js}" defer></script>
    <script th:src="@{/static/js/newborn.js}" defer></script>
    <script th:src="@{/static/js/article.js}" defer></script>
    <link rel="stylesheet" th:href="@{/static/css/article.css}" />
</head>
<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12" id="main">
                    <div id="return_main">
                        <div>返回</div>
                    </div>

                    <div id="user" th:abbr="${user.account}">
                        <img th:src="@{/static/picture/{account}.jpg(account=${user.account})}" id="portrait" onclick="visitThis(this)" />
                        <p id="name" th:text="${user.name}"></p>
                        <p id="personality" th:text="${user.personality}"></p>
                    </div>

                    <div id="invittation" th:each="list:${list}">
                        <div id="slotCoin">
                            <button type="button" class="btn btn-primary" onclick="turnOn()">投币</button>
                            <div class="toast" id="addCoin" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="toast-header">
                                    <strong class="mr-auto">投币</strong>
                                    <small>随便投</small>
                                    <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                                        <span aria-hidden="true" onclick="shutOff()">&times;</span>
                                    </button>
                                </div>
                                <div class="toast-body">
                                    <input type="text" autocomplete="off" class="form-control" placeholder="投币数量" aria-label="投币数量" aria-describedby="button-addon2" id="content-text">
                                    <button class="btn btn-primary" type="button" th:id="${user.account}" onclick="addCoin(this)">确认</button>
                                </div>
                            </div>
                        </div>
                        <h3 id="number" th:abbr="${list.id}" th:text="${list.title}" style="width: 50%"></h3>
                        <div class="xian"></div>
                        <div id="time_fa">
                            <span>楼主</span>
                            <p th:text="${list.startTime}"></p>
                        </div>
                        <p th:text="${list.route}"></p>
                        <img th:src="@{{route}(route=${img.route})}" th:each="img:${list.list}" class="rounded mx-auto d-block">
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>