<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>个人中心</title>
    <link
      rel="stylesheet"
      th:href="@{/static/bootstrap-4.4.1-dist/css/bootstrap.css}"
    />
    <script th:src="@{/static/js/jquery-3.5.0.min.js}" defer></script>
    <script th:src="@{/static/bootstrap-4.4.1-dist/js/bootstrap.js}" defer></script>
    <script th:src="@{/static/js/newborn.js}"></script>
    <script th:src="@{/static/js/personal_myinvitation.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/personal.css}" />
  </head>
  <body id="body">
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
      <a class="navbar-brand" href="#" th:text="${user.name}">未登录</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/blog/homepage/index">
              首页<span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/blog/personal/index">个人中心</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blog/personal/invitation">发帖</a>
          </li>
          <li class="nav-item dropdown">
            <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    id="navbarDropdown"
                    role="button"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
            >
              其他
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">收藏</a>
              <a class="dropdown-item" href="#">留言板</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" id="state_enroll" href="#">退出登录</a>
            </div>
          </li>
          <!-- <li class="nav-item">
            <a
              class="nav-link disabled"
              href="#"
              tabindex="-1"
              aria-disabled="true"
              >Disabled</a
            >
          </li> -->
        </ul>
        <form class="form-inline my-2 my-lg-0" action="search.html">
          <input
                  class="form-control mr-sm-2"
                  name="search"
                  type="search"
                  placeholder="查找帖子"
                  aria-label="查找帖子"
          />
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            搜索
          </button>
        </form>
      </div>
    </nav>

    <div class="da">
      <div class="peak">
        <h4 class="name" th:text="${user.name}"></h4>
        <p class="personality" th:text="${user.personality}"></p>
        <svg
                class="bi bi-house-door-fill tu"
                width="4em"
                height="4em"
                viewBox="0 0 20 20"
                fill="currentColor"
                xmlns="http://www.w3.org/2000/svg"
        >
          <path
                  d="M6.5 10.995V14.5a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5h-4a.5.5 0 0 1-.5-.5V11c0-.25-.25-.5-.5-.5H7c-.25 0-.5.25-.5.495z"
          />
          <path
                  fill-rule="evenodd"
                  d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"
                  clip-rule="evenodd"
          />
        </svg>
      </div>

      <div class="navigation">
        <ul class="navigation_ul">
          <li class="navigations"><a href="/blog/personal/index">个人信息</a></li>
          <li class="navigations"><a href="/blog/personal/my/invitation">我的帖子</a></li>
          <li class="navigations"><a>我的收藏</a></li>
          <li class="navigations">
            <a href="/blog/personal/invitation">发帖子</a>
          </li>
          <li class="navigations"><a href="/blog/personal/fans">关注</a></li>
          <li class="navigations"><a href="/blog/personal/follow">粉丝</a></li>
        </ul>
      </div>

      <div class="container">
          <div class="row">
            <div class="col-md-3 important_invitation_id0">
              <div class="user">
                <img class="portrait" th:src="${user.portrait}" />
                <p class="name" th:text="${user.name}"></p>
                <p class="personality" th:text="${user.personality}"></p>
              </div>

              <div class="basic user">
                <div class="basics">
                  <p class="basics_zi">贴数</p>
                  <div class="line_2"></div>
                  <p class="basics_ge" id="invitation" th:text="${myinvitation.size()}">0</p>
                </div>
                <div class="basics">
                  <p class="basics_zi">关注</p>
                  <div class="line_2"></div>
                  <p class="basics_ge" th:text="${follow}">0</p>
                </div>
                <div class="basics">
                  <p class="basics_zi">粉丝</p>
                  <div class="line_2"></div>
                  <p class="basics_ge" th:text="${coverfollow}">0</p>
                </div>
              </div>
            </div>

            <div class="col-md-6 important_invitation_id1" id="invitation_area" >
              <div class="number" id="number" onclick="lookinvitation()" th:each="invitation:${myinvitation}">
                <img th:src="${user.portrait}" class="portrait format"/>
                <div class="user_1">
                  <div class="name" th:text="${user.name}"></div>
                  <div class="time" th:text="${invitation.time}"></div>
                </div>
                <h3 th:text="${invitation.title}"></h3>
                <p th:text="${invitation.subtitle}"></p>
              </div>
            </div>
          </div>
        </div>
    </div>
  </body>
</html>
