<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>聊天</title>
    <link rel="stylesheet" th:href="@{/static/bootstrap-4.4.1-dist/css/bootstrap.css}" type="text/css"/>
    <script th:src="@{/static/js/jquery-3.5.0.min.js}" defer type="text/javascript"></script>
    <script th:src="@{/static/bootstrap-4.4.1-dist/js/bootstrap.js}" defer type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/socket.css}">
    <script th:src="@{/static/js/newborn.js}" defer type="text/javascript"></script>
    <script th:src="@{/static/js/socket.js}" defer type="text/javascript"></script>
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
    <input type="hidden" id="hidden" th:abbr="${submit}">
    <a class="navbar-brand" href="#" id="state"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/blog/homepage/index">首页<span class="sr-only">(current)</span></a
                >
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/blog/personal/index">个人中心</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/blog/personal/invitation">发帖</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/blog/whimsy/index">随想计划</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/blog/uploads/index">我的文件</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/blog/chat/index">私聊</a>
            </li>


            <li class="nav-item dropdown">
                <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    其他
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/blog/collection/index">收藏</a>
                    <a class="dropdown-item" href="/blog/message/index">留言板</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="state_enroll" href="/blog/homepage/out">退出登录</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/blog/homepage/index">
            <input
                    class="form-control mr-sm-2"
                    name="search"
                    type="search"
                    placeholder="查找帖子"
                    aria-label="查找帖子"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                搜索
            </button>
        </form>
    </div>
</nav>

    <div class="container">
        <div class="row" style="margin: 3% 0;">

            <div class="col-4">
                <div class="jumbotron">
                    <div class="list-group-item list-group-item-action list-group-item-secondary" th:each="list:${list}">
                        <div class="d-flex w-100 justify-content-between">
                            <h5 class="mb-1" th:text="${list.account == user.account ? list.coverName : list.name}"></h5>
                            <small th:text="${list.startTime}"></small>
                        </div>
                        <p class="mb-1" th:text="${list.content}"></p>
                        <small class="unread"><b th:text="${list.count}">3</b>条未读</small>
                    </div>
                    <hr class="my-2">
                </div>
            </div>

            <div class="col-8">
                <div class="jumbotron">
                    <div>
                        <img th:src="@{/static/picture/840359379.jpg}" class="picture-data">
                        <h3 style="display: inline-block">叶子明</h3>
                    </div>

                    <hr class="my-4">

                    <div id="socket-content" >

                        <div class="socket-data text-left">
                            <img th:src="@{/static/picture/840359379.jpg}" class="picture-data">
                            <div class="time-name">
                                <p>叶子明</p>
                                <p>2021-12-03</p>
                            </div>
                            <div>
                                <p class="chat">你好</p>
                            </div>
                        </div>

                        <div class="socket-data text-right">

                            <div class="time-name">
                                <p>叶子明</p>
                                <p>2021-12-03</p>
                            </div>
                            <img th:src="@{/static/picture/840359379.jpg}" class="picture-data">
                            <div>
                                <p class="chat">你好</p>
                            </div>
                        </div>

                        <div class="socket-data text-right">

                            <div class="time-name">
                                <p>叶子明</p>
                                <p>2021-12-03</p>
                            </div>
                            <img th:src="@{/static/picture/840359379.jpg}" class="picture-data">
                            <div>
                                <p class="chat">你好</p>
                            </div>
                        </div>

                        <div class="socket-data text-right">
                            <div class="time-name">
                                <p>叶子明</p>
                                <p>2021-12-03</p>
                            </div>
                            <img th:src="@{/static/picture/840359379.jpg}" class="picture-data">
                            <div>
                                <p class="chat">你好</p>
                            </div>
                        </div>

                        <div class="socket-data text-right">
                            <div class="time-name">
                                <p>叶子明</p>
                                <p>2021-12-03</p>
                            </div>
                            <img th:src="@{/static/picture/840359379.jpg}" class="picture-data">
                            <div>
                                <p class="chat">你好</p>
                            </div>
                        </div>


                    </div>

                    <hr class="my-4">

                    <div class="input-group mb-3">
                        <input type="text" autocomplete="off" class="form-control" placeholder="发送信息" aria-label="发送信息" aria-describedby="button-addon2" id="content-text">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" onclick="addContent(this)">
                                <img th:src="@{/static/picture/cursor-fill.svg}">
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>