<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>随想计划</title>
        <link rel="stylesheet" th:href="@{/static/bootstrap-4.4.1-dist/css/bootstrap.css}"/>
        <script th:src="@{/static/js/jquery-3.5.0.min.js}" defer></script>
        <script th:src="@{/static/bootstrap-4.4.1-dist/js/bootstrap.js}" defer></script>
        <script th:src="@{/static/js/newborn.js}"></script>
        <link rel="stylesheet" th:href="@{/static/css/uploads.css}"/>
        <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js" defer></script>
        <script th:src="@{/static/js/uploads.js}" defer></script>
    </head>
    <body class="jumbotron jumbotron-fluid">

    <div id="uploads">
        <div class="custom-file mb-3">
            <div class="custom-file pass">
                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                <label class="custom-file-label" for="inputGroupFile01">上传文件</label>
                <input type="text" autocomplete="off" class="form-control"
                       placeholder="文件名字" aria-label="文件名字" aria-describedby="button-addon2" id="content-text">
                <button class="btn btn-primary" type="button" onclick="addUploads()" id="uploads-button">上传</button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row row-cols-2 row-cols-md-5 ">
            <div class="col mb-3" th:each="list:${list}">
                <div class="card h-100">
                    <img th:src="@{/static/picture/file-earmark-{race}-fill.svg(race=${list.race})}" class="card-img-top picture-img">
                    <div class="picture-data" th:id="${list.id}">
                        <h5 class="card-title" th:text="${list.name}"></h5>
                        <p class="card-text" th:text="${list.startTime}"></p>
                        <button type="button" class="btn btn-primary event" onclick="uploads(this)">下载</button>
                        <button type="button" class="btn btn-secondary event" onclick="deleteUploads(this)">删除</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>

