<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>个人中心</title>
    <link rel="stylesheet"
          th:href="@{/static/bootstrap-4.4.1-dist/css/bootstrap.css}"/>
    <script th:src="@{/static/js/jquery-3.5.0.min.js}" defer></script>
    <script th:src="@{/static/bootstrap-4.4.1-dist/js/bootstrap.js}" defer></script>
    <script th:src="@{/static/js/newborn.js}"></script>
    <script th:src="@{/static/js/visit.js}"></script>
    <link rel="stylesheet" th:href="@{/static/css/visit.css}"/>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
    <input type="hidden" id="hidden" th:abbr="${submit}">
    <a class="navbar-brand" href="#" id="state"></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/blog/homepage/index">首页<span class="sr-only">(current)</span></a
                >
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/blog/personal/index">个人中心</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/blog/personal/invitation">发帖</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/blog/whimsy/index">随想计划</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/blog/chat/index">私聊</a>
            </li>


            <li class="nav-item dropdown">
                <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false">
                    其他
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/blog/collection/index">收藏</a>
                    <a class="dropdown-item" href="/blog/message/index">留言板</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" id="state_enroll" href="/blog/homepage/out">退出登录</a>
                </div>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/blog/homepage/index">
            <input
                    class="form-control mr-sm-2"
                    name="search"
                    type="search"
                    placeholder="查找帖子"
                    aria-label="查找帖子"/>
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                搜索
            </button>
        </form>
    </div>
</nav>

    <div class="container">
        <div class="row main">
            <div class="col-12">
                <div class="card bg-light mb-3" >
                    <div class="card-header data-top"></div>
                    <div class="card-body data-main" th:id="account" th:abbr="${user.account}">
                        <img th:src="@{/static/picture/{account}.jpg(account=${user.account})}" class="data-img">
                        <div>
                            <h4 class="card-title" th:text="${user.name}" th:id="name">叶子明</h4>
                            <p class="card-text" th:text="${user.personality}">但夏天还是那么短，思念却很长</p>
                        </div>
                        <button type="button" class="btn btn-success" style="float:right;" onclick="addFollow(this)" id="follow">关注</button>
                        <button type="button" class="btn btn-danger" style="float:right;margin: 0 2%" onclick="privateChat()">私聊</button>
                    </div>
                </div>
            </div>

            <div class="col-12">
                <div class="card bg-light mb-3" >
                    <div class="card-header exhibition-group">
                        <div class="btn-group" role="group" th:href="@{/blog/visit/invitation/{account}(account=${user.account})}" onclick="conversion(this)">动态</div>
                        <div class="btn-group" role="group" th:href="@{/blog/visit/leave/{account}(account=${user.account})}" onclick="conversion(this)">留言</div>
                    </div>
                    <div class="card-body">
                        <iframe th:src="@{/blog/visit/invitation/{account}(account=${user.account})}" frameBorder="0" scrolling="yes" width="100%" height="600px" id="conversion"></iframe>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>
</html>