<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuanmei.bishe.dao.AdministratorsDao">

    <select id="selectAdministrators" resultType="com.chuanmei.bishe.model.Administrators">
        SELECT *
        FROM administrators
        WHERE account = #{account, jdbcType=VARCHAR} AND password = #{password, jdbcType=VARCHAR} LIMIT 1
    </select>
</mapper>