<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuanmei.bishe.dao.CollectionDao">
    <insert id="addCollection">
        INSERT INTO collection(number ,account) values(#{number ,jdbcType = INTEGER},#{account, jdbcType = VARCHAR})
    </insert>
    <delete id="deleteCollection">
        DELETE FROM collection
        WHERE account = #{account, jdbcType = VARCHAR} AND number = #{number ,jdbcType = INTEGER}
    </delete>

    <select id="lookCollections" resultType="com.chuanmei.bishe.model.Collection">
        SELECT c.number AS number,(SELECT COUNT(*) FROM content WHERE content.account=c.account AND c.number = content.number) AS content,
               (SELECT COUNT(*) FROM good WHERE good.number = c.number AND good.situation = 1) AS good,(SELECT situation FROM good WHERE good.number = c.number AND good.account = c.account LIMIT 1) AS situation,
               i.subtitle as subtitle ,i.title AS title
        FROM collection AS c LEFT JOIN invitation as i ON c.number = i.number
        WHERE c.account = #{account,jdbcType = VARCHAR}
    </select>
    <select id="seletCollection" resultType="java.lang.Boolean">
        SELECT count(*)
        FROM collection
        WHERE account = #{account,jdbcType = VARCHAR} and number = #{number,jdbcType = VARCHAR} LIMIT 1
    </select>

    <select id="selectTime" resultType="java.lang.String">
        SELECT start_time
        FROM collection
        WHERE account = #{account,jdbcType = VARCHAR}
        ORDER BY start_time LIMIT 1
    </select>
</mapper>