<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~  * 盛建辉：毕设
  ~  *
  ~  * 版权归本公司所有，不得私自使用、拷贝、修改、删除，否则视为侵权
  ~  */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuanmei.bishe.dao.FollowDao">
    <insert id="addfollow">
        INSERT INTO follow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            account,
            coveraccount,
            <if test="name != null">name,</if>
            <if test="covername != null">covername</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{account, jdbcType=VARCHAR} ,
            #{coveraccount, jdbcType=VARCHAR},
            <if test="name != null">#{name, jdbcType=VARCHAR},</if>
            <if test="covername != null">#{covername, jdbcType=VARCHAR}</if>
        </trim>
    </insert>
    <delete id="deletefollow">
        DELETE
        FROM follow
        WHERE account = #{account, jdbcType = VARCHAR} AND
              coveraccount = #{coveraccount, jdbcType = VARCHAR} LIMIT 1
    </delete>
    <select id="lookfollow" resultType="com.chuanmei.bishe.model.Follow">
        SELECT *
        FROM follow
        WHERE account = #{account, jdbcType = VARCHAR}
    </select>
    <select id="coverlookfollow" resultType="com.chuanmei.bishe.model.Follow">
        SELECT *
        FROM follow
        WHERE coveraccount = #{coveraccount, jdbcType = VARCHAR}
    </select>
    <select id="selectFollow" resultType="java.lang.Boolean">
        SELECT count(*)
        FROM follow
        WHERE account = #{account, jdbcType = VARCHAR} AND
            coveraccount = #{coveraccount, jdbcType = VARCHAR} LIMIT 1
    </select>

    <select id="yesterdayFollow" resultType="java.lang.Integer">
        SELECT count(*)
        FROM follow
        WHERE coveraccount = #{coveraccount, jdbcType = VARCHAR} And start_time >= #{startTime,jdbcType = VARCHAR}
            AND #{endTime,jdbcType = VARCHAR} >= start_time
    </select>
</mapper>