<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuanmei.bishe.dao.FollowDao">
    <insert id="addfollow"></insert>
    <delete id="deletefollow"></delete>
    <select id="lookfollow" resultType="com.chuanmei.bishe.model.Follow">
        SELECT *
        FROM follow
        WHERE account = #{account, jdbcType = VARCHAR}
    </select>
    <select id="coverlookfollow" resultType="com.chuanmei.bishe.model.Follow">
        SELECT *
        FROM follow
        WHERE coveraccount = #{coveraccount, jdbcType = VARCHAR}
    </select>
</mapper>