<?xml version="1.0" encoding="utf-8" ?>
<!--
  ~ /*
  ~  * 盛建辉：毕设
  ~  *
  ~  * 版权归本公司所有，不得私自使用、拷贝、修改、删除，否则视为侵权
  ~  */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuanmei.bishe.dao.InvitationDao">

    <insert id="publishinvitation" keyProperty="number" useGeneratedKeys="true" keyColumn="number">
        INSERT INTO invitation
        <trim prefix="(" suffix=")" suffixOverrides=",">
            number,
            account,
            title,
            <if test="subtitle != null">subtitle,</if>
            name
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{number, jdbcType=INTEGER},
            #{account, jdbcType=VARCHAR} ,
            #{title, jdbcType=VARCHAR},
            <if test="subtitle != null">#{subtitle, jdbcType=VARCHAR},</if>
            #{name, jdbcType=VARCHAR}
        </trim>
    </insert>

    <update id="updataText">
        UPDATE invitation
        SET text = #{text,jdbcType=VARCHAR}
        WHERE number = #{number, jdbcType=INTEGER} LIMIT 1
    </update>


    <delete id="deleteinvitation">
        DELETE FROM invitation
        WHERE number = #{number, jdbcType = INTEGER}
    </delete>

    <select id="lookinvitation" resultType="com.chuanmei.bishe.model.Invitation">
        SELECT *
        FROM invitation
        WHERE number = #{number, jdbcType = INTEGER}
    </select>

    <select id="lookmyinvitations" resultType="com.chuanmei.bishe.model.Invitation">
        SELECT *
        FROM invitation
        WHERE account = #{account, jdbcType = VARCHAR}
    </select>

    <select id="seekinvitations" resultType="com.chuanmei.bishe.model.Invitation">
        SELECT *
        FROM invitation
        WHERE title LIKE CONCAT('%',#{title,jdbcType=VARCHAR},'%')
            or subtitle LIKE CONCAT('%',#{subtitle,jdbcType=VARCHAR},'%')
    </select>

    <select id="lookinvitations" resultType="com.chuanmei.bishe.model.Invitation">
        SELECT * FROM invitation
    </select>
</mapper>