<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~  * 盛建辉：毕设
  ~  *
  ~  * 版权归本公司所有，不得私自使用、拷贝、修改、删除，否则视为侵权
  ~  */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuanmei.bishe.dao.MessageDao">

    <insert id="addMessage">
        INSERT INTO message(account,cover_account,substance)
        VALUES(#{account,jdbcType = VARCHAR},#{coverAccount,jdbcType = VARCHAR},#{substance,jdbcType = VARCHAR})
    </insert>
    <delete id="deleteMessage">
        DELETE FROM message
        WHERE id = #{id,jdbcType = INTEGER}
    </delete>
    <select id="selectMessages" resultType="com.chuanmei.bishe.model.Message">
        SELECT m.id,m.start_time AS startTime,m.substance,m.account,u.`name`
        FROM message m,user u
        WHERE m.account = u.account AND m.cover_account = #{coverAccount,jdbcType = VARCHAR}
    </select>
</mapper>