<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuanmei.bishe.dao.SocketDao">
    <insert id="addSocket">
        INSERT INTO socket(combination,account,cover,content,situation)
        VALUES (#{combination,jdbcType = VARCHAR},
                #{account,jdbcType = VARCHAR},
                #{cover,jdbcType = VARCHAR},
                #{content,jdbcType = VARCHAR},
                #{situation,jdbcType = INTEGER})
    </insert>
    
    <update id="updateSocket">
        UPDATE socket
        SET situation = #{situation,jdbcType = INTEGER}
        WHERE combination = #{combination,jdbcType = VARCHAR} AND cover = #{account,jdbcType = VARCHAR}
    </update>

    <select id="selectUnreadList" resultType="com.chuanmei.bishe.model.Socket">
        SELECT a.*,
               (SELECT COUNT(*)
               FROM `socket` ss
               WHERE ss.cover = #{account,jdbcType = VARCHAR} AND ss.situation = 1 AND ss.combination = a.combination) 'count'
        FROM
             (SELECT combination,s.start_time startTime,s.account,s.cover,s.content,(SELECT u.name FROM `user` u WHERE u.account = s.account ) name,
                     (SELECT u.name FROM `user` u WHERE u.account = s.cover) coverName
             FROM `socket` s
             WHERE account = #{account,jdbcType = VARCHAR} OR cover = #{account,jdbcType = VARCHAR} ORDER BY start_time DESC) a
        GROUP BY a.combination
    </select>

    <select id="selectChatList" resultType="com.chuanmei.bishe.model.Socket">
        SELECT combination,start_time startTime,account,cover,content,situation
        FROM `socket`
        WHERE combination = #{combination,jdbcType = VARCHAR}
    </select>

</mapper>