<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuanmei.bishe.dao.UploadsDao">

    <insert id="addUploads">
        INSERT INTO uploads(account,name,race,route)
        VALUES (#{account,jdbcType = VARCHAR},#{name,jdbcType = VARCHAR},#{race,jdbcType = VARCHAR},#{route,jdbcType = VARCHAR})
    </insert>

    <delete id="deleteUploads">
        DELETE FROM uploads
        WHERE id = #{id,jdbcType = INTEGER}
    </delete>

    <select id="selectList" resultType="com.chuanmei.bishe.model.Uploads">
        SELECT *
        FROM uploads
        WHERE account = #{account ,jdbcType = VARCHAR}
    </select>

    <select id="selectUploads" resultType="com.chuanmei.bishe.model.Uploads">
        SELECT *
        FROM uploads
        WHERE account = #{account,jdbcType = VARCHAR} AND name = #{name,jdbcType = VARCHAR}
    </select>
</mapper>