<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~  * 盛建辉：毕设
  ~  *
  ~  * 版权归本公司所有，不得私自使用、拷贝、修改、删除，否则视为侵权
  ~  */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuanmei.bishe.dao.UploadsDao">

    <insert id="addUploads">
        INSERT INTO uploads
        <trim prefix="(" suffix=")" suffixOverrides=",">
            account,name,race,route,
            <if test="geared != null">geared</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{account,jdbcType = VARCHAR},
            #{name,jdbcType = VARCHAR},
            #{race,jdbcType = VARCHAR},
            #{route,jdbcType = VARCHAR},
            <if test="geared != null">#{geared,jdbcType = INTEGER}</if>
        </trim>
    </insert>

    <delete id="deleteUploads">
        DELETE FROM uploads
        WHERE id = #{id,jdbcType = INTEGER}
    </delete>

    <select id="selectList" resultType="com.chuanmei.bishe.model.Uploads">
        SELECT id,account,name,race,route,geared,start_time as startTime
        FROM uploads
        <where>
            <if test="account != null">
                account = #{account ,jdbcType = VARCHAR} and
            </if>
            geared = 0
        </where>
    </select>

    <select id="selectUploads" resultType="com.chuanmei.bishe.model.Uploads">
        SELECT *
        FROM uploads
        WHERE account = #{account,jdbcType = VARCHAR} AND name = #{name,jdbcType = VARCHAR} and geared = 0
    </select>

    <select id="selectGeared" resultType="com.chuanmei.bishe.model.Uploads">
        SELECT *
        FROM uploads
        WHERE geared = #{geared,jdbcType = INTEGER}
    </select>


</mapper>