<?xml version="1.0" encoding="utf-8" ?>
<!--
  ~ /*
  ~  * 盛建辉：毕设
  ~  *
  ~  * 版权归本公司所有，不得私自使用、拷贝、修改、删除，否则视为侵权
  ~  */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuanmei.bishe.dao.UserDao">
    <insert id="register">
        INSERT INTO user(account,password,name,mailbox)
        VALUES (#{account, jdbcType=VARCHAR},#{password, jdbcType=VARCHAR},#{name, jdbcType=VARCHAR},#{mailbox, jdbcType=VARCHAR})
    </insert>

    <update id="addCoin">
        UPDATE user
        SET coin = coin + 2
        WHERE account = "840359379"
    </update>

    <update id="modify">
        UPDATE user
        <trim prefix="set" suffixOverrides=",">
            <if test="name != null">name = #{name, jdbcType=VARCHAR} ,</if>
            <if test="gender != null">gender = #{gender, jdbcType=VARCHAR} ,</if>
            <if test="birthday != null">birthday = #{birthday, jdbcType=VARCHAR} ,</if>
            <if test="mailbox != null">mailbox = #{mailbox, jdbcType=VARCHAR} ,</if>
            <if test="personality != null">personality = #{personality, jdbcType=VARCHAR} ,</if>
            <if test="portrait != null">portrait = #{portrait, jdbcType=VARCHAR}</if>
        </trim>
        WHERE account = #{account, jdbcType=VARCHAR} LIMIT 1
    </update>

    <update id="operatedCoin">
        UPDATE `user` SET coin = coin - #{count, jdbcType=INTEGER} WHERE account = #{account, jdbcType=VARCHAR};
        UPDATE `user` SET coin = coin + #{count, jdbcType=INTEGER} WHERE account = #{coverAccount, jdbcType=VARCHAR};
        UPDATE whimsy SET obtain = obtain + #{count, jdbcType=INTEGER} WHERE id = #{number,jdbcType = INTEGER};
    </update>

    <select id="record" resultType="com.chuanmei.bishe.model.User">
        SELECT *
        FROM user
        WHERE account = #{id, jdbcType=VARCHAR} AND password = #{pw, jdbcType=VARCHAR} LIMIT 1
    </select>

    <select id="chaname" resultType="com.chuanmei.bishe.model.User">
        SELECT *
        FROM user
        <where>
            <if test="account != null">
                account = #{id, jdbcType=VARCHAR}
            </if>
        </where>
    </select>

</mapper>