<?xml version="1.0" encoding="utf-8" ?>
<!--
  ~ /*
  ~  * 盛建辉：毕设
  ~  *
  ~  * 版权归本公司所有，不得私自使用、拷贝、修改、删除，否则视为侵权
  ~  */
  -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chuanmei.bishe.dao.WhimsyDao">

<!--    <resultMap id="BaseResultMap" type="com.chuanmei.bishe.model.Whimsy">-->
<!--        <result column="start_time" property="startTime" jdbcType="VARCHAR"/>-->
<!--    </resultMap>-->

    <insert id="addWhimsy" useGeneratedKeys="true" keyProperty="id" >
        INSERT INTO whimsy(series,account,title,subtitle,route)
        VALUES (#{series,jdbcType=VARCHAR},
                #{account,jdbcType=VARCHAR},
                #{title,jdbcType=VARCHAR},
                #{subtitle,jdbcType=VARCHAR},
                #{route,jdbcType=VARCHAR})
    </insert>

    <update id="updateWhimsy">
        update whimsy
        SET series = #{series,jdbcType = VARCHAR} ,behind = #{behind,jdbcType=VARCHAR}
        WHERE id = #{id,jdbcType = INTEGER}
    </update>

    <delete id="deleteWhimsy">
        DELETE FROM whimsy
        WHERE id = #{id,jdbcType = INTEGER}
    </delete>

    <select id="selectList" resultType="com.chuanmei.bishe.model.Whimsy">
        SELECT id,series,account,title,subtitle,route,behind,obtain,start_time as startTime
        FROM whimsy
        <where>
            <if test="account != null">account = #{account,jdbcType = VARCHAR}</if>
        </where>
    </select>

    <select id="seriesWhimsy" resultType="com.chuanmei.bishe.model.Whimsy">
        SELECT *
        FROM whimsy
        WHERE series = #{series,jdbcType = VARCHAR}
    </select>


</mapper>